@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Open Sans Condensed', sans-serif;
}

.box-1, .box-2, .box-3, .box-4 {
    height: 25%;
	width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-1 { background-color: rgb(124, 32, 199); }
.box-2, .box-3, .box-4 { background-color: rgb(54, 52, 52); }

.btn {
	line-height: 50px;
	height: 50%;
	text-align: center;
	width: 50%;
    cursor: pointer;

    border: 2px solid #FFF;
}

/* 
========================
      BUTTON ONE
========================
*/
.btn-one, .btn-two {
	transition: all 0.3s;
    position: relative;
    margin: 0 3%;
}

.skill1, .skill2 {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 64px;
    background-color: rgb(124, 32, 199);
    border: none;
}

.btn-one button, .btn-two button {
	transition: all 0.3s;
}

.btn-one::before, .btn-two::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
	transform: scale(0.1, 1);
}

.btn-one:hover button, .btn-two:hover button {
	letter-spacing: 2px;
}

.btn-one:hover::before, .btn-two:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}

.btn-one::after, .btn-two::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.1);
}

.btn-one:hover::after, .btn-two:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}


/* 
========================
      BUTTON TWO
========================
*/

.btn-two {
	color: #FFF;
	transition: all 0.5s;
    position: relative;	
    
    height: 80%;
}

.btn-two button {
	z-index: 2;	
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;	
}

.up, .down, .left, .right {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color:  rgb(54, 52, 52);
    font-size: 48px;
    border: none;

}

.btn-two::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 1px solid rgba(255,255,255,0.2);
	background-color: rgba(255,255,255,0.1);
}

.btn-two::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 1px solid rgba(255,255,255,0.2);
	background-color: rgba(255,255,255,0.1);
}

.btn-two:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255,255,255,0);
}

.btn-two:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255,255,255,0);
}
